#main {
  margin: 50px auto;
  padding: 50px 20px;
  background: #fff;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}
.img__wrap {
    margin: 0 auto;
}
.mbti__information .info__title{
  font-size: 25px;
}
.btn__start {
  margin-top: 10px;
}